@charset 'UTF-8';

body {
    background-color: #eee;
}

#wrapper {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.3),
        -5px 5px 10px 3px rgba(0,0,0,0.3);
}

/*
#header {}
#photos {}
#footer {}
*/

@mixin pc {
    @media (min-width: 500px){
        @content;
    }
}



.container {
    width: 95%;
    margin: 0 auto;
}

.header {        

    @include pc {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    .header-title {
        display: grid;
        align-content: center;

        height: 50vh;
        padding: 50px 10px;
        text-align: center; text-transform: uppercase;

        .title {    
            font-size: 2.5rem;
        }
        .sub-title {
            font-size: 1.3rem; color: #888888;
        }
        .view-work {
            justify-self: center;

            margin-top: 30px;
            padding: 5px 25px;
            border: 1px solid #a3a3a3;
            border-radius: 20px;
            font-size: 1rem; color: darken(#888888, 25%);

            transition: all 0.5s ease;

            &:hover {
                background-color: #f0f0f0;
            }
        }

        @include pc {
            height: 100vh;
        }
    }

    .header-image {
        height: 50vh;
        background-image: url(https://source.unsplash.com/De8wMYoSSBc);
        background-position: center center;
        background-size: cover;

        @include pc {
            height: 100vh;
        }
    }
}

.photos {
    text-align: center;

    .photos-header {
        background-color: #333333;
        padding: 20px;

        h2 {
            display: inline-block;
            padding: 5px 20px;
            border-left: 1px dotted #fff; border-right: 1px dotted #fff;
            font-size: 1rem; color: white;
        }
    }

    .photo {
        .desc{
            padding: 20px;
            h3 {
                padding: 10px;
                font-size: 1rem; font-weight: 700;
            }
            p {
                padding: 10px;
                font-size: 0.8rem;
            }
        }
    }
}

.footer {
    padding: 50px 0;
    text-align: center;

    .footer-title {
        font-size: 3rem; font-weight: 700;
    }
    p {
        padding: 5px 0;
        font-size: 1rem;
    }
    address {
        padding: 5px 0;
        font-size: 1rem;
    }
}